.form-label, form, .container {
    display: flex;
    flex-direction: column;
}

.container {
    min-height: 60vh;
}


.form-label, form {
    gap: 1rem
}

.form-label > input{
    padding: .45rem .75rem;
    border: none;
    border: 1px solid rgba(112, 128, 144, 0.855);
    border-radius: .25rem;
    outline-color: rgba(23, 84, 196, 0.412);
    transition: border-color .4s ease-in-out;
}

.form-label > input:read-only {
    outline: none;
    border: 1px solid rgba(112, 128, 144, 0.231);
    cursor:default
}

form {
    margin: auto;
    width: 400px;
}

.btn {
    align-self: center;
    border: none;
    padding: .25rem .75rem;
    background-color: rgba(23, 83, 196, 0.8);
    font-size: 1rem;
    font-weight: bold;
    border-radius: .25rem;
    color: white;
    box-shadow: 3px 3px 15px rgba(0,0,0, 0.4);
    transition: box-shadow .1s ease-in-out;
}

.btn:active {
    box-shadow: 1px 1px 12px rgba(0,0,0,0.4);
}